<ion-side-menus >
    <ion-side-menu-content>
  <ion-pane >
  <ion-header-bar class="bar bar-header bar-dark">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round" ng-click="toggleLeft"> </button>
        
        <h1 class="title" style=" font-size:25px;">  Neighbour HooK </h1>
      
    
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader bar-stable">
  <h1 class="title" style=" font-size:25px;">My Neighbour's</h1>
      
  </ion-header-bar>

  
     <ion-content class="scroll-pane padding has-header">
   
        <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>


 <div  class="scroll-pane padding has-header">
<div class="list" style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/MyDP.jpg">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>
  <div class="list " style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/dummy.png">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>
    <div class="list " style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/dummy.png">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>
    <div class="list" style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/dummy.png">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>

  <div class="list" style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/dummy.png">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>

  <div class="list" style="border-top: none; border-right: none; border-left: none;">
  <div class="item item-avatar" style="    border: none;
    border-bottom: 1px solid #2cd28e;">
    <img src="img/dummy.png">
    <a class=" " href="#">
    <h3 style="color: #514e4e">Purpose:<span class="purpose-delivery">Grocery</span></h3><i class="icon item-icon-right" style="    float: right;
    font-size: ;
    margin-top: -11%;
    padding-right: 2px;
    font-size: 84%;
    color: #47ec93; ">Rs 320</i>
   <i class="ion-ios-location-outline" style="color: #47ec93;"></i>  <span class="near-by"> Defence ph I</span>


    
  </a>
  </div>
  </div>

</div>
 










         
  </ion-content>
 

 <div  class="row "> 




   <a class="buttonDeliveryHis" class="col-50" ng-href="#/ineed1" ng-click="reload('ineed1')"> <button class="" style="background: transparent; border: none; color: #fafafa; font-size: 12px; "> View More</button></a>




   <a   class="buttonDeliveryHis2" class="col-50" ng-click="ideliver()"> <button class="" style="background: transparent; border:none;color: #fafafa; font-size: 12px" >Need Help </button></a>
  

</div>
<ion-footer-bar align-title="center" class="bar-logout">
  
  <h1 class="title" align="center" style="color: #fafafa;">Logout</h1>

</ion-footer-bar>
     </ion-pane>
        </ion-side-menu-content>
          <ion-side-menu side="left">

    <ion-list >
     <a    ng-href="#home" style="text-decoration: none;" target="_self"> <ion-item nav-clear menu-toggle> <h3> <i class="ion-home" style="font-size:25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home  </h3></ion-item></a>
        <a ng-click="hello('userReviews')" ng-href="#userReviews" style="text-decoration: none;" target="_self"> <ion-item nav-clear menu-toggle>  <h3> <i class="ion-edit" style="font-size:25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Borrow Feed </h3></ion-item></a>
        <a  ng-href="#productForm" style="text-decoration: none;" target="_self">  <ion-item nav-clear menu-toggle>  <h3><i class="ion-upload" style="font-size:25px"></i> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upload Your Product</h3></ion-item></a>

        <a  ng-href="#Friends" style="text-decoration: none;" target="_self">  <ion-item nav-clear menu-toggle>  <h3><i class="ion-person-stalker" style="font-size:25px"></i> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My NeighbourHood</h3></ion-item></a>
        
        
    <a ng-href="#about" style="text-decoration: none;" target="_self">  <ion-item nav-clear menu-toggle>  <h3> <i class="ion-information-circled" style="font-size:25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; About Us</h3></ion-item></a>
              <a ng-href="#login" style="text-decoration: none;" target="_self">  <ion-item nav-clear menu-toggle>  <h3> <i class="ion-close-circled" style="font-size:25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logout </h3></ion-item></a>
</ion-list> 
  </ion-side-menu>
  </ion-side-menus>




